<h2> Add a Product </h2>

<% if (typeof errors !== 'undefined') { %>
  <ul>
    <% for (key in errors) { %>
    <li> <%= errors[key].message %> </li>
  <% } %>
</ul>
<% } %>
<form method="post" action="/products/new">
  <label for="product-name-input"> Product Name </label>
  <input id="product-name-input" type="text" name="productName">
  <br>

  <label for="product-price-input"> Price </label>
  <input id="product-price-input" type="number" name="productPrice">
  <br>

  <label for ="product-image-url-input"> Image Address </label>
  <input id="product-image-url-input" type="url" name="productImageUrl">
  <br>

  <label for="product-description-input"> Description </label>
  <textarea id="product-description-input" name="productDescription"></textarea>

  <button> Add Product </button>
</form>
