<section class="productDetailsview">

  <h2> <%= product.name %> </h2>

  <div class="priceView">
    $<%= product.price %>.00
  </div>

  <div class ="detailsView">
    <img src="<%= product.imageUrl %>">
    <div class="descriptionView">
      <p><%= product.description %></p>
    </div>
  </div>

</section>
